In [3]:
import pandas as pd

In [4]:
# 2 main datatypes
carBrands = pd.Series(["BMW", "Toyota", "Honda", "Kia", "Tesla"])

In [5]:
carBrands

0       BMW
1    Toyota
2     Honda
3       Kia
4     Tesla
dtype: object

In [6]:
# series = 1 - dimensional list

In [7]:
colors = pd.Series(["Red", "Blue", "Green", "White", "Yellow"])
colors

0       Red
1      Blue
2     Green
3     White
4    Yellow
dtype: object

In [8]:
# DataFrame = 2-dimesnional -- Far more common than series
car_data = pd.DataFrame({"Car Make": carBrands, "Color": colors})
car_data

  Car Make   Color
0      BMW     Red
1   Toyota    Blue
2    Honda   Green
3      Kia   White
4    Tesla  Yellow

In [14]:
# Import data from CSV
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [22]:
#Exporting a dataframe
car_sales.to_csv("exported_car_sales.csv", index=False)

In [23]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00